<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    @*<script src="~/scripts/scripts.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            @*$('.hello-ajax').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("HelloAjax")',
                    success: function (result) {
                        $('#result1').html(result);
                    }
                });
            });
            $('.sum').click(function () {
                $.ajax({
                    type: 'GET',
                    data: { firstNumber: 1, secondNumber: 2 },
                    url: '@Url.Action("Sum")',
                    success: function (result) {
                        $('#result2').html(result);
                    }
                });
            });
            $('.display-object').click(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Action("DisplayObject")',
                    success: function (result) {
                        var resultString = 'Id: ' + result.id + '<br>City: ' + result.city + '<br>Country: ' + result.country;
                        $('#result3').html(resultString);
                    }
                });
            });
            $('.display-view').click(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    url: '@Url.Action("DisplayViewWithAjax")',
                    success: function (result) {
                        $('#result4').html(result);
                    }
                });
            });*@
            $('.display-random-database-items').submit(function (event) {
                event.preventDefault();
                console.log($(this).serialize());
                $.ajax({
                    url: '@Url.Action("RandomDestinationList")',
                    type: 'GET',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (result) {
                        var stringResult = '<ul>';
                        for (var i = 0; i < result.length; i++) {
                            stringResult += '<li>' + result[i].city + ', ' + result[i].country + '</li>';
                        }
                        stringResult += '</ul>';
                        $('#result5').html(stringResult);
                    }
                });
            });
            $('.new-destination').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("NewDestination")',
                    type: 'POST',
                    dataType: 'json',
                    data: $(this).serialize(),
                    success: function (result) {
                        var resultMessage = 'You\'ve added a new destination to the database!<br>Id: ' + result.id + '<br>City: ' + result.city + '<br>Country: ' + result.country;
                        $('#result6').html(resultMessage);
                    }
                });
            });
        });
    </script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
