@model TravelBlog.Models.Location


@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Create Location</h1>
    <br />
<div class="panel panel-success">
    <div class="panel panel-default panel-primary">
        <h4> Add A Location </h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description)
        <input type="submit" value="Add" />

        }
    </div>
</div>

    <p>@Html.ActionLink("Back to list", "Index")</p>

