@model IEnumerable<TravelBlog.Models.Location>


@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>My Travel Blog!</h1>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <h4>@Html.DisplayNameFor(model => model.Description)</h4>

    <ul>
        @foreach(var listLocation in Model)
        {
            <li>@Html.DisplayFor(modelLocation => listLocation.Name) | @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId })| @Html.ActionLink("Edit", "Edit", new { id = listLocation.LocationId})|@Html.ActionLink("Delete", "Delete", new { id = listLocation.LocationId })</li>
           <p>@Html.DisplayFor(modelLocation => listLocation.Description)</p>

        }
    </ul>
    <p>@Html.ActionLink("Add new location", "Create")</p>
