@model IEnumerable<TravelBlog.Models.Location>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My Travel Blog</title>
</head>
<body>
    <h1>My Travel Blog!</h1>
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    <h4>@Html.DisplayNameFor(model => model.Description)</h4>

    <ul>
        @foreach(var listLocation in Model)
        {
            <li>@Html.DisplayFor(modelLocation => listLocation.Name) | @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId })</li>
           <p>@Html.DisplayFor(modelLocation => listLocation.Description)</p>

        }
    </ul>

</body>
</html>